!!! 5
html(lang="en")
  title NodeKC - Kansas City's Node.js user group
  
  script
    var _gaq = _gaq || [];
    _gaq.push(['_setAccount', 'UA-27907751-4']);
    _gaq.push(['_trackPageview']);

    (function() {
      var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
      ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
      var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
    })();

  link(rel='stylesheet', href='/css/app.css')

  body
    #wrapper
      h1 Welcome to NodeKC!
      
      p site coming... for now visit the 
        a(href='http://groups.google.com/group/kc-nodejs',  title='NodeKC Google Group') google group
      ul#panels
        li.panel
          h2 Recent Group Messages
          ul
            each item in messages
              li 
                a.message(href=item.guid)#{item.title}
                p.teaser #{item.desc}
        li.panel.tweets
          h2 Tweets 
            a(href='http://twitter.com/nodekc') @nodekc
            
            ul
              each item in tweets.results
                li 
                  p.tweet #{item.text}  
                  span #{item.created_at}      
        li.panel
          h2 Events
            ul
              each item in events
                li 
                  a(href=item.guid)#{item.title}
                  p.teaser #{item.desc}