!!! 5
html(lang="en")
  head
    title NodeKC - Kansas City's Node.js user group

    meta(content='True', name='HandheldFriendly')
    meta(content='320', name='MobileOptimized')
    meta(content='width=device-width, target-densitydpi=160dpi, initial-scale=1.0', name='viewport')

    script
      var _gaq = _gaq || [];
      _gaq.push(['_setAccount', 'UA-27907751-4']);
      _gaq.push(['_trackPageview']);

      (function() {
        var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
        ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
        var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
      })();

    link(rel='stylesheet', href='/css/app.css')

  body

    h1 NodeKC

    form(action='http://groups.google.com/group/nodekc/boxsubscribe').join
      input(type='submit', value='join')
      label
        input(type='email', name='email', placeholder='your@email.com')

    .events.section
      h2 events
      ul.container        
        li
          .time Wed, Feb 8 7:00pm CST
          h3.dim EVENT: Makeup Meetup 
          .subtitle snow & company - 
            a(href='http://g.co/maps/s9ms6', target='_blank', title='Map to Snow & Company') map
          p For those who couldn't make the first meetup. We'll go over the principles of the group, discuss the project we're working on, and write some code.

        li
          .time Tue, Jan 31 7:00pm CST
          h3.dim EVENT: Inaugural meetup
          .subtitle snow & company - 
            a(href='http://g.co/maps/s9ms6', target='_blank', title='Map to Snow & Company') map
          p We'll discuss the intent of the group and announce the first project.
        li.more
          a(href='https://www.google.com/calendar/b/0/embed?src=nodekc.org_e8lg6hesldeld1utui23ebpg7k@group.calendar.google.com&ctz=America/Chicago&gsessionid=RKXEjz6D5m8kzZ0lZunOpQ', target='_blank') calendar&hellip;
      h2 git
      ul.container
        each item in gitEvents
          li 
            .time= item.timeago
            h3
              a(href='http://github.com/' + item.actor, target='_blank')
                img(src='https://secure.gravatar.com/avatar/' + item.actor_gravatar_id + '?s=140')
                #{item.actor}
            .subtitle= item.repo
            ul.inset
              each commit in item.commits
                li= commit.message
        li.more
          a(href='https://github.com/nodekc') nodekc on github&hellip;
                  
    .messages.section
      h2 messages
      ul.container
        each item in messages
          li
            a(href=item.url, target='_blank')
              .time= item.timeago 
              h3= item.subject
              .subtitle by #{item.author}
              p= item.body
        li.more
          a(href='https://groups.google.com/group/nodekc') google group&hellip;
    .tweets.section
      h2 tweets
      ul.container
        each item in tweets
          li
            img(src='http://api.twitter.com/1/users/profile_image/' + item.created_by + '.png', alt=item.created_by)
            .time #{item.timeago}
            a(href='http://twitter.com/' + item.created_by, target='_blank')
              h3= item.created_by
            p!= item.tweet
        li.more
          a(href='https://twitter.com/#!/nodekc') more tweets&hellip;
