!!! 5
html(lang="en")
  title NodeKC - Kansas City's Node.js user group
  
  script
    var _gaq = _gaq || [];
    _gaq.push(['_setAccount', 'UA-27907751-4']);
    _gaq.push(['_trackPageview']);

    (function() {
      var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
      ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
      var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
    })();

  link(rel='stylesheet', href='/css/app.css')

  body
    #wrapper
      h1 NodeKC

      ul#panels
        li.panel.messages
          h2 Recent Group Messages
          ul
            each item in messages
              li
                a.title(href=item.url)#{item.subject}
                p.teaser= item.body
                span.time #{item.timeago}
        li.panel.tweets
          h2 Tweets

          ul
            each item in tweets
              li
                a.title(href='http://twitter.com/' + item.created_by) #{item.created_by}
                a.avatar(href='http://twitter.com/' + item.created_by, target='_blank')
                  img(src='http://api.twitter.com/1/users/profile_image/' + item.created_by + '.png', title=item.created_by, target='_blank')
                p.teaser #{item.tweet}
                span.time #{item.timeago}
        li.panel.events
          h2 Events
          ul
            each item in events
              li
                a.title(href=item.url)#{item.title}
                p.teaser #{item.details}
                span.time #{item.when}
      p.join join our 
        a(href='http://groups.google.com/group/kc-nodejs') google group